datasets/
working_data/
.ipynb_checkpoints/
.idea/
handmade_s2m.csv
model_5004.pkl
model_5012.pkl
model_5024.pkl
model_5805.pkl
model_6005.pkl
model_6022.pkl
model_6027.pkl
aij_flood/research_notebooks/handmade_s2m.csv
aij_flood/research_notebooks/hydro_features.csv
aij_flood/research_notebooks/meteo_features.csv
aij_flood/research_notebooks/models_manager.pkl
aij_flood/research_notebooks/past_features.csv
aij_flood/research_notebooks/past_target.csv
aij_flood/research_notebooks/top_n_features.pkl
aij_flood/research_notebooks/corrs_and_dists.csv

